<div class='container'>
	<div class='row'>
		<div class='col-md-6 offset-3'>
			<div class='card mb-5 mt-5'>
				<div class='card-body'>
					<div class='list-group mb-1'>
						<a href='#' class='list-group-item list-group-item-action'>
							<img
								src='https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg'
								class='rounded-circle float-start'
								style='height: 30px;'
								alt='...'
							/>
							<h5 class='card-title'>{{product.user.firstName}}</h5>
						</a>
					</div>
					<p class='card-text'>Nomi: {{product.title}}</p>
					<p class='card-text'>Tavsifi: {{product.description}}</p>
					<p class='card-text'>Narxi: {{product.amount}}</p>
					<p class='card-text'><small
							class='text-muted'
						>{{product.createdAt}}</small></p>
				</div>
				{{#if product.image}}
					<img src='{{product.image}}' class='card-img-bottom' alt='...' />
				{{/if}}
				<form
					action='/product/buyurtma/{{product.id}}'
					method='post'
					enctype='application/x-www-form-urlencoded'
				>
					<div class='mb-3'>
						<label for='text' class='form-label'>FIO: </label>
						<input
							class='form-control'
							id='exampleFormControlTextarea1'
							rows='4'
							name='fio'
							type='text'
						/>
					</div>
					<div class='mb-3'>
						<label for='text' class='form-label'>Region: </label>
						<input
							class='form-control'
							id='exampleFormControlTextarea1'
							rows='4'
							name='region'
							type='text'
						/>
					</div>
					<div class='mb-3'>
						<label for='text' class='form-label'>Phone: </label>
						<input
							class='form-control'
							id='exampleFormControlTextarea1'
							rows='4'
							name='phone'
							type='text'
						/>
					</div>
					<button type='submit' class='btn btn-primary mt-3'>Buyurtma berish</button>
				</form>

			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-6 offset-3'>

			<div class='card-body'>
				<form
					action='/product/comment/{{product.id}}'
					method='post'
					enctype='application/x-www-form-urlencoded'
				>

					{{#if errorCom}}
						<div class='alert alert-warning' role='alert'>
							{{errorCom}}
						</div>
					{{/if}}
					<div class='mb-3'>
						<label for='text' class='form-label'>Email: </label>
						<input
							class='form-control'
							id='exampleFormControlTextarea1'
							rows='4'
							name='email'
							type='text'
						/>
					</div>
					<div class='mb-3'>
						<label for='text' class='form-label'>Add new Comment</label>
						<textarea
							class='form-control'
							id='exampleFormControlTextarea1'
							rows='4'
							name='text'
						></textarea>
					</div>
					<input type='hidden' name='_csrf' value='{{csrfToken}}' />
					<button type='submit' class='btn btn-primary mt-3'>Add Commet</button>
				</form>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-8 offset-2'>
			{{#if comment}}
				{{#each comment}}
					<div class='card mb-3'>
						<div class='row g-0'>
							<div class='col-md-4'>
								<img
									src='https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg'
									class='img-fluid rounded-start'
									alt='...'
									style='width: 180px;'
								/>
							</div>
							<div class='col-md-8'>
								<div class='card-body'>
									<h5 class='card-title'>{{email}}</h5>
									<p class='card-text'>{{text}}</p>
									<p class='card-text'><small
											class='text-body-secondary'
										>{{createdAt}}</small></p>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			{{/if}}
		</div>
	</div>
</div>